spring:
  profiles:
    active: DEV
  datasource:
    url: jdbc:hsqldb:file:data/news_topic
    username: sa
    password: sa
    initialization-mode: always
  jpa:
    properties:
#      javax:
#        persistence:
#          schema-generation:
#            create-source: metadata
#            scripts:
#              action: create
#              create-target: create.sql
      hibernate:
        dialect: org.hibernate.dialect.HSQLDialect
    generate-ddl: true
    hibernate:
      ddl-auto: create-drop
    show-sql: false

logging:
  level:
    org:
      hibernate:
        sql: DEBUG